/*=====================
    Title CSS start
==========================*/
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-family: $outfit;
  i {
    padding: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(var(--theme-color), 0.55) -29.29%, rgba(32, 93, 238, 0) 122.14%);
    backdrop-filter: blur(5px);
  }
  h4 {
    color: rgba(var(--font-color), 1);
    font-size: 16px;
    margin-bottom: 5px;
  }
}
