/*=====================
    Buy page CSS
==========================*/
.buy-product {
  margin-top: 30px;
}
.buy-prouct-button {
  background-color: #090909;
  margin-top: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 25px;
}
